/[[]ORGA]Practica_04/nbproject/private/
/[[]ORGA]Practica_04/build/
/[[]ORGA]Practica_04/dist/
/[[]ORGA]Practica_04/lib/
/[[]ORGA]Practica_04/dist/
/[[]ORGA]Practica_04/src/orga/practica_04/Gameboard_jButton1.ser
/[[]ORGA]Practica_04/src/orga/practica_04/mecanicaJuego/